<h4>Edit <%= @recipe.recipeName %>!</h4>

<%= render partial: "layouts/errors", locals: {object: @recipe} %>

<%= form_for(@recipe) do |f| %>
    <%= f.label :recipeName %>
    <%= f.text_field :recipeName %>
    <br><br>
    <%= f.label :recipeInstructions %>
    <%= f.text_field :recipeInstructions %>
    <br><br>
    <%= f.submit %>

<% end %>