<h1>All Recipes!</h1>

<%= form_for(@recipe) do |f| %>
   
    <%= f.label :recipeName %>
    <%= f.text_field :recipeName %>
    <br>
    <br>
    <%= f.label :recipeInstructions %>
    <%= f.text_area :recipeInstructions %>

    <%= f.submit %>

    <% end %>
