<h1>New Recipes!</h1>

<%= render partial: "layouts/errors", locals: {object: @recipe} %>

<%= form_for(@recipe) do |f| %>
    <%= f.label :recipeName %>
    <%= f.text_field :recipeName %>

    <%= f.label :recipeInstructions %>
    <%= f.text_field :recipeInstructions %>

    <%= f.submit %>

<% end %>