<h2><%= @recipe.recipeName %></h2><br>
<h4>By: <%=@recipe.user.username %></h4><br>

<div class="mb-3 p-3 border bg-white"><%= @recipe.recipeInstructions %></div><br><br>

<p><%= link_to 'Add a New Comment', new_recipe_review_path(@recipe), class: 'btn btn-secondary' %></p><br>

<% if !@recipe.reviews.empty? %>
  <p><%= link_to 'See all comments', recipe_reviews_path(@recipe)%></p>
  <h4>Most Recent Comments:</h4>
  <% @recipe.reviews.order(updated_at: :desc).limit(3).each do |r|%>
    <li>
      <strong><%= r.user.username%></strong> says "<%= link_to r.content, recipe_review_path(@recipe,r)%>" at <%= r.updated_at.strftime("%I:%M %p on %m/%d/%Y") %>
    </li>
  <% end %>

  
<% if @recipe.user == current_user %>
  <h4><%= link_to "Edit", edit_recipe_path(@recipe), class: 'btn btn-secondary' %></h4><br>
  <h4><%= button_to 'Delete', @recipe,  method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' %></h4><br>
<% end %>

<% end %>